{% extends 'layout-default.njk' %}

{% block themeBody %}
    <div class="ga-head2-main"></div>
    <div class="ga-head3-main"></div>
    <div class="banner rocket-content ga-head4-main">
      <p>[ad banner goes here]</p>
    </div>
  {% include '_block/sidebar.njk' %}
{% endblock themeBody %}
