{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="ga-content4-l"></div>
  <div class="ga-content4-r"></div>
  <div class="ga-content-l"></div>
  <div class="ga-content-r"></div>
  <div class="ga-foot-l"></div>
  <div class="ga-foot-r"></div>
  <div class="ga-content-r"></div>
  {% include '_block/sidebar.njk' %}
{% endblock themeBody %}
