{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="site-banner rocket-content  ga-head2-main">
    <p>[banner goes here, specific to this site. (not adsense, for example)]</p>
  </div>
  <div class="ga-content-l"></div>
  <div class="ga-head3-main">
    <h1> Today's News</h1>
  </div>
  <div class="ga-content-r"></div>
  <div class="ga-content-r"></div>
  {% include '_block/sidebar.njk' %}
{% endblock themeBody %}
