{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="ga-head-l"></div>
  <div class="ga-head-r"></div>
  <div class="grey-back ga-content5-l"></div>
  <div class="grey-back ga-content5-r"></div>
  <!-- footer -->
  <div class="ga-foot-r footer-back"></div>
  {% include '_block/sidebar.njk' %}
{% endblock themeBody %}
