{% extends 'layout-default.njk' %}

{% block themeBody %}

  <div class="theme-standin blank-header ga-head-main">
      <nav class="navOne">
        <ul>
          <li><a href="/">Foo</a></li>
          <li><a href="/">Bar</a></li>
          <li><a href="/">Wah</a></li>
          <li><a href="/">Yada</a></li>
          <li><a href="/">Baz</a></li>
          <li><a href="/">YoThere</a></li>
        </ul>
      </nav>
  </div>

  <div class="theme-standin blank-header ga-head3-main">
    <p>[future header like wikipedia.com]</p>
  </div>

  {% include 'partials/bottom.njk' %}
{% endblock themeBody %}
