{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="ga-head-l"></div>
  <div class="ga-head-main">s
    {{ site.name }} 
  </div>
  <div class="side-top ga-head-side">
      <nav class="navOne">
        <ul>
          <li><a href="/">Foo</a></li>
          <li><a href="/">Bar</a></li>
          <li><a href="/">Wah</a></li>
        </ul>
      </nav>
  </div>
  <div class="ga-head-r"></div>
  <div class="color-band ga-head2-l"></div>
  <div class="color-band ga-head2-side">
  </div>
  <div class="color-band ga-head2-r"></div>
  <div class="ga-content-l"></div>
  <div class="ga-content-r"></div>
{% endblock themeBody %}
