.site-banner {
  background-color: honeydew;
  border: none;
}
#main-header a {
  color:white;
}
.ga-head3-main {
  margin: 2em;
}
.content-grid-area,
.sidebar-grid-area {
  border-top: solid 0.5px gray;
}


body[layout^='layout-home'] #main-header {
  top: 0px;
  position: sticky;
}

.sidebar-grid-area {
  position: sticky;
  top: 100px;
}


#main-header.header-grid-area {
  font-family: 'Roboto', sans-serif;
  background-color: steelblue;
  margin:0;
}

#main-header .logo-link {
  font-family: 'Roboto', sans-serif;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  border-bottom: solid 5px black;
  margin: 0px 5px;
  padding-bottom: 5px;
}

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--page-background);
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--markdown-body, --page-background);
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

