<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&amp;text=greenit&family=Oswald&family=Quattrocento&display=swap" rel="stylesheet">